* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-do-header: orangered;
    --header-link: yellow;
    --header-link-hover: coral;
}

main {
    flex: auto;
    flex-direction: column;
}

.cool__header {
    position: relative;
    background-color: var(--cor-do-header);
    height: 3em;
}

.cool__header__images {
    max-width: 1286px;
    width: fit-content;
    display: inline-block;
    position: absolute;
    left: 5em;
}

.cool__header__image {

    width: 200px;
    height: 50px;
    padding-right: 3px;
    left: 20vh;
}

.cool__header__images {
    content: fit-content;

}

.cool__header__image2 {
    width: 50px;
    height: 50px;
    left: 43vh;
    padding-right: 0;
}

.cool__header__link {
    position: absolute;
    text-decoration: none;
    color: var(--header-link);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    top: 17px;
    right: 30vh;
    font-size: 1em;
    transition: 0.5s;
}


.cool__header__link:hover {
    text-decoration: dotted;
    font-size: 1.2em;
}

.header__links {
    position: relative;
    height: 68px;
    border-bottom: 0.5px gray solid;
}


.header__logo {
    top: 11.5px;
    position: absolute;
    width: 250px;
    height: 50px;
    left: 3em;
}

.header__nav  {
    position: absolute;
    top: 25px;
    right: 50px;
}

.header__link {
    text-decoration: none;
    padding: 25px;
    color: gray;
    font-size: 1em;
    transition: 0.5s;
    font-family: Arial, Helvetica, sans-serif;
}

.header__link:hover {
    color: var(--header-link-hover);
    
}

.content__article {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    width: 75%;
    max-width: 1073px;
    margin: 0px 138.5px;
}

h1 {
    position: absolute;
    font-size: 3rem;
    top: 1em;
    color: #3D3D3D;
}

h2 {
    
}